@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display');

*{
    margin: 0;
}

.bg-dark {
    background-color: #4c3673d4!important;
}

/* para identificar container */
.bordecolor{
  border:2px solid red !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
} 

.left{
    background-color: aqua;
    background-image:
    linear-gradient(
      rgba(0, 0, 0, -0.5),
      rgba(0, 0, 0, 0.5)
      ),
    url(../img/pregunta.png);

    text-align: center;
    padding-top: 5%;
}

p{
    color: white;
}

img{
    width: 50%;
    border-radius: 50%;
    margin: 10% 25%;
}

.name{
    font-size: 2rem;
    background-color: #d9ececcf;
    padding: 8px;
    border-radius: 5px;
}

.rigth{
    background-color: #673ab766;
    padding: 6px 30px;
}

.btn{
    margin-top: 17px;
    margin-bottom: 16px;
    box-shadow: 8px 9px 12px 0px rgba(0, 0, 0, 0.29);
}

.btn-perfil{
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}

.list-group{
    box-shadow: 8px 9px 12px 0px rgba(0, 0, 0, 0.29);
    margin-bottom: 20px;
}

.pagination{
    margin-bottom: 8px;
}

.img-edit{
    width: 1.2rem;
    margin: 0;
    border-radius: 0;
    float: right;
}

.navbar-brand{
    font-family: 'Luckiest Guy';
    font-size: 2rem;
    color: #ff9800 !important;
} 
